.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.scaffold_backups
.venv
venv
__pycache__
*.py[cod]
*.db
*.log

logs

frontend/.next
frontend/node_modules
admin-console/frontend/.next
admin-console/frontend/node_modules
admin-console/.next
admin-console/node_modules

node_modules

*.zip